@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background: #17222D;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 1170px;
  padding: 20px 0px 20px 10px;
}

.container a {
  font-size: 48px;
  color: #FFFFFF;
}

/* Section */
section {
  display: flex;
  justify-content: center;
}

/* inform */
.inform {
  flex: 1;
  margin-right: 20px;
}

.definicao {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BBCCDD;
}

.definicao h1 {
  font-size: 36px;
  font-weight: bold;
  color: #17222D;
  border-bottom: 3px solid  #269BFF;
  display: inline;
}

.definicao p {
  margin-top: 20px;
  font-size: 14px;
  color: #445566;
  margin-bottom: 20px;
}

.tabela h1 {
  border-bottom: 3px solid  #269BFF;
  display: inline;
  font-size: 36px;
  font-weight: bold;
  color: #17222D;
}

.tabela p {
  color: #FFFFFF;
  font-weight: bold;
  background: #17222D;
  border-radius: 5px;
  padding: 10px 0 10px 15px;
  margin-top: 20px;
} 

.ajustes-table {
  width: 100%;
  border-collapse: collapse;
}

.ajustes-table th {
  text-align: left;
  font-size: 18px;
  color: #445566;
  font-weight: bold;
  padding: 10px 0px 10px 8px;
  border-bottom: 3px solid #BBCCDD;
}

.ajustes-table th span {
  font-size: 16px;
}

.ajustes-table td {
  font-size: 14px;
  font-weight: bold;
  color: #445566;
  padding: 10px 0px 10px 8px;
  border-bottom: 2px solid #BBCCDD;
}

/* Imc */
.imc {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.calculadora-imc {
  flex: 1;
  margin-top: 20px;
}

.imc h1 {
  border-bottom: 3px solid  #269BFF;
  display: inline;
  font-size: 36px;
  font-weight: bold;
  color: #17222D;
}

.imc form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

form .info {
  font-size: 16px;
  font-weight: bold;
  color: #445566;
}

form input {
  background: #EFF4F9;
  padding: 10px 0px 10px 10px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin-bottom: 10px;
  font-weight: bold;
  color: #17222D;
}

form #campo::placeholder {
  color: #BBCCDD;
  font-size: 14px;
  font-weight: bold;
}

form #button {
  margin-top: 5px;
  border: none;
  max-width: 960px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 0;
  background: #0468CC;
  border-radius:5px;
  cursor: pointer;
}

form #button:hover {
  background: #0454CC;
}

.resultado {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.resultado h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #17222D;
  margin-bottom: 27px;
}

/* Foooter */
footer {
  display: flex;
  justify-content: center;
  background: #17222D;
  color: #FFFFFF;
  padding: 10px 0px 10px 0;
  font-size: 24px;
  margin-top: 20px;
}

/* Javascript */
.obesidade-grave {
  text-align: center;
  background: #CC0404;
  border-radius: 5px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
  padding: 20px 10px 58px 10px;
}

.obesidade {
  background: #FF4D26;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
  padding: 20px 10px 80px 10px;
  border-radius: 5px;
  text-align: center;
}

.sobrepeso {
  background: #FF6726;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
  padding: 20px 10px 80px 10px;
  border-radius: 5px;
  text-align: center;
}

.normal {
  background: #14CC04;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
  padding: 20px 10px 58px 10px;
  border-radius: 5px;
  text-align: center;
}

.magreza {
  background: #8004CC;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
  padding: 20px 10px 80px 10px;
  border-radius: 5px;
  text-align: center;
}

.negrito {
  font-weight: bold;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .resultado h2 {
    margin-top: 20px;
  }

  .obesidade-grave, .obesidade, .magreza, .normal, .sobrepeso {
    padding: 30px 10px 30px 10px;
  }
}

@media (max-width: 470px) {
  .ajustes-table th, .ajustes-table th span {
    font-size: 14px;
  }

  .ajustes-table td {
    font-size: 12px;
  }
}